{% load gallery_tags wagtailimages_tags %}

{% for product in products %}
    {% include "partials/product_block.html" with product=product%}
{% endfor %}

<div class="row justify-content-center" id="product-more">
  {% if has_more %}
  <div class="wrapper">
    <a class="button button_transparent"
       id="load-more-btn"
       data-offset="{{ next_offset }}"
       data-taste="{{ taste }}"
       data-mass="{{ mass }}"
       data-order="{{ order }}"
       onclick="loadMore(this)">
      Показать ещё
    </a>
  </div>
  {% endif %}
</div>
