{% load wagtailcore_tags wagtailimages_tags i18n%}
<div class="col-lg-4 col-md-6	col-12">
    <div class="wrap">
        <div class="production__item">
        {% if product.product_tags == "discount"  %}
               <div class="sticker">
                   <i class="nut-icon icons-actciya"></i>
                   <p>{% trans "Акция" %}</p>
               </div>
           {% endif %}
           {% if product.product_tags == "new" %}
            <div class="sticker">
                <i class="nut-icon icons-novinka"></i>
                <p>{% trans "Новинка" %}</p>
            </div>
            {% endif %}

            <!-- Slider main container -->
            <div class="products-container swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    {% for gallery_item in product.gallery.all %}
                        <div class="swiper-slide">
                            <a href="{% url 'products:product' product.slug %}"><img src="{{ gallery_item.images.url }}" alt="alt"/></a>
                        </div>
                    {% endfor %}
                </div>
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                <img class="zoom" src="static/img/zoom.svg" alt="alt">
            </div>
            <div class="wrap" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
                <div class="production__item_title">
                    {{ product.nuts_type }}
                </div>
                <div class="production__item_art">
                    <span>{% translate "Арт:" %}</span> {{ product.article }}
                </div>
                <div class="production__item_descr">
                    {{ product.title }}
                </div>
                <div class="production__item_weight">
                    <div class="weight_item">
                        <div class="weight_item_icon">
                            <i class="nut-icon icons-food-scale-tool"></i>
                        </div>
                        <div class="weight_item_descr">
                            <p>{% translate "Масса" %}</p>
                            <p><span>{{ product.mass }}</span></p>
                        </div>
                    </div>
                    <div class="weight_item">
                        <div class="weight_item_icon">
                            <i class="nut-icon icons-group"></i>
                        </div>
                        <div class="weight_item_descr">
                            <p>{% translate "Упаковка" %}</p>
                            <p><span>{{ product.package }}</span></p>
                        </div>
                    </div>
                </div>
                <div class="production__item_sum">
                    <div class="sum_item">
                        <div class="sum_item_title">
                            <p>{% translate "Цена:" %} </p>
                        </div>
                        {% if product.product_tags == "discount" %}
                            <div class="sum_item_new">
                                <p>{{ product.cost_with_discount }} <i>{% trans "грн." %}</i></p>
                            </div>
                            <div class="sum_item_old">
                                <p>{{ product.cost }} <i>{% trans "грн." %}</i></p>
                            </div>
                            {% else %}
                            <div class="sum_item_new">
                                <p>{{ product.cost }}<i>{% trans "грн." %}</i></p>
                            </div>
                        {% endif %}
                    </div>
                    <div class="sum_item">
                        <div class="sum_item_button">
                           <a hx-post="/api/checkouts/add-product"
                                hx-vals='{"product_id": {{ product.id }}, "quantity": 1}'
                                hx-target="#cart-items-container"
                                hx-swap="beforeend swap:0ms"
                                hx-trigger="click"
                                class="button">{% trans "Купить" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
