{% load gallery_tags wagtailimages_tags i18n %}

<div class="row justify-content-center align-items-start" id="product-grid">
    {% for product in products %}
        {% include "partials/product_block.html" with product=product counter=forloop.counter %}
    {% endfor %}
</div>

{% if has_more %}
<div class="row justify-content-center" id="product-more">
  <div class="wrapper">
    <a class="button button_transparent"
       hx-get="{% url 'products:product-more' %}?offset={{ next_offset }}&taste={{ taste }}&mass={{ mass }}&order={{ order }}"
       hx-target="#product-grid"
       hx-swap="beforeend">
      {% translate "Показать ещё" %}
    </a>
  </div>
</div>
{% endif %}
