{% extends "base_template.html" %}
{% load wagtailcore_tags wagtailimages_tags gallery_tags%}
{% block content %}
    {% for block in page.banner %}
        {% image block.value.preview_image original as img %}
        <section class="first-section overlay" style="background-image: url({{ img.url }})">
        		<div class="container">
        			<div class="breadcrumbs">
        				<ul>
        					<li>
                                <a href="/">{{ page.get_site.root_page.title }}</a>
                            </li>
                            <li>
                                <span>{{ page.page_title }}</span>
                            </li>
        				</ul>
        			</div>
        			<div class="row align-items-center justify-content-center">
        				<a href="{{ block.value.video.file.url }}" target="_blank">
        					<h1>{{ block.value.title }}</h1>
        					<p>{{ block.value.description }}</p>
        					<span><i class="nut-icon icons-play-icon"></i></span>
        				</a>
        			</div>
        		</div>
        </section>
    {% endfor %}

	<section class="benefit gallery_section">
		<div class="container">
            {% render_gallery %}
		</div>
	</section>
{% endblock content %}
