{% extends "base_template.html" %}
{% load wagtailcore_tags static i18n %}
{% block title %} {% translate "Страница товара" %} {% endblock title %}
{% block content %}
<section class="first-section no-bg">
			<div class="container">
				<div class="breadcrumbs">
					<ul>
                        <li>
                            <a href="/">{{ page.get_site.root_page.title }}</a>
                        </li>
                        <li>
                            <a href="{% pageurl shop_page %}">{{ shop_page.title }}</a>
                        </li>

                        <li>
                            <span>{{ product.title }}</span>
                        </li>
                    </ul>
				</div>
			</div>
		</section>

	<section class="product">
			<div class="container">
				<div class="row no-gutters">
					<div class="col-lg-5 col-md-6">
							<div class="wrap">
									<div class="product__item">
                                    {% if product.discount %}
                                    	<div class="sticker">
											<i class="nut-icon icons-actciya"></i>
											<p>{% translate "Акция" %}</p>
										</div>
                                    {% endif %}
                                    {% if product.is_new %}
										<div class="sticker">
											<i class="nut-icon icons-novinka"></i>
											<p>{% translate "Новинка" %}</p>
										</div>
                                    {% endif %}
										<!-- Slider main container -->
										<div class="products-container swiper-container">
											<!-- Additional required wrapper -->
											<div class="swiper-wrapper">
												<!-- Slides -->
                                                {% for gallery_item in product.gallery.all %}
                                                	<div class="swiper-slide">
												    	<a href="#"><img src="{{ gallery_item.images.url }}" alt="alt"/></a>
												    </div>
                                                {% endfor %}
											</div>

											<!-- If we need navigation buttons -->
											<div class="swiper-button-prev"></div>
											<div class="swiper-button-next"></div>
											<img class="zoom" src="{% static 'img/zoom.svg' %}" alt="alt">
										</div>
									</div>
								</div>
					</div>
					<div class="col-lg-7 col-md-6">
						<div class="product__content">
							<div class="row">
								<div class="col-md-6">
									<div class="product__content_name">
											{{ product.nuts_type }}
									</div>
								</div>
								<div class="col-md-6">
									<div class="product__content_art">
											{% translate "Арт:" %}<span> {{ product.article }}</span>
									</div>
								</div>
								<div class="col-lg-9">
									<h1>{{ product.nuts_title }}</h1>
								</div>
								<div class="col-lg-3"></div>
								<div class="col-12">
									<div class="product__content_descr">
										<ul>
											<li>
												<div class="row">
														<div class="col-md-5">
															<strong>{% translate "Состав:" %}</strong>
														</div>
														<div class="col-md-7">
															<span>{{ product.compound | safe }}</span>
														</div>
													</div>
											</li>
											<li>
												<div class="row">
													<div class="col-md-5">
														<strong>{% translate "Масса нетто:" %}</strong>
													</div>
													<div class="col-md-7">
														<span>{{ product.mass }}</span>
													</div>
												</div>
											</li>
											<li>
													<div class="row">
														<div class="col-md-5">
															<strong>{% translate "Энергетическая ценность:" %}</strong>
														</div>
														<div class="col-md-7">
															<span>{{ product.energy_value }}</span>
														</div>
													</div>
												</li>
												<li>
														<div class="row">
															<div class="col-md-5">
																<strong>{% translate "Срок годности:" %}</strong>
															</div>
															<div class="col-md-7">
																<span>{{ product.shelf_life|safe }}</span>
															</div>
														</div>
													</li>
										</ul>
									</div>
								</div>
								<div class="col-12">
									<div class="warning">
											<i class="nut-icon icons-warning-sigh"></i>
											<p>{% translate "Хранить в помещениях, защищенных от попадания прямых, солнечных лучей, при температуре от +3 °C до +20 °C, и относительной влажности воздуха не более 75 %" %}</p>
									</div>
								</div>
								<div class="col-12">
										<div class="product__content_sum">
												<div class="sum_item">
													<div class="sum_item_title">
														<p>{% translate "Ваша цена:" %} </p>
													</div>
                                                    {% if product.discount %}
                                                    	<div class="sum_item_new">
														<p>{{ product.cost_with_discount}} <i>{% translate "грн." %}</i></p>
													</div>
													<div class="sum_item_old">
														<p>{{ product.cost }} <i>{% translate "грн." %}</i></p>
													</div>
                                                        {% else %}
                                                        <div class="sum_item_new">
														<p>{{ product.cost }} <i>{% translate "грн." %}</i></p>
													</div>
                                                    {% endif %}
												</div>
												<div class="sum_item">
													<div class="sum_item_button">
														<a hx-post="/api/checkouts/add-product"
                                                           hx-vals='{"product_id": {{ product.id }}, "quantity": 1}'
                                                           hx-target="#cart-items-container"
                                                           hx-swap="beforeend swap:0ms"
                                                           hx-trigger="click" class="button">{% translate "Заказать" %}</a>
													</div>
												</div>
											</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="payment payment__product">
				<div class="tabs">
					<div class="tabs__wrap">
						<div class="container">
								<div class="row">
									<ul class="tabs__caption">
                                        <li class="active"><span>{% translate "Описание" %}</span></li>
									    <li><span>{% translate "Упаковка" %}</span></li>
									    <li><span>{% translate "Оплата" %}</span></li>
									    <li><span>{% translate "Доставка" %}</span></li>
                                    </ul>
								</div>
							</div>
					</div>
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="tabs__content active">
								<div class="row">
									<div class="col-lg-4 col-md-6 col-12">
										<img src="{{ product.description_photo.url }}" class="tabs__content_img" alt="alt">
									</div>
									<div class="col-lg-8 col-md-6 col-12 align-self-center">
										<div class="tabs__content_product">
											{{ product.description|safe }}
										</div>
									</div>
								</div>
							</div>
                            <div class="tabs__content">
								<div class="row">
									<div class="col-lg-4 col-md-6 col-12">
										<img src="{{ product.package_photo.url }}" class="tabs__content_img" alt="alt">
									</div>
									<div class="col-lg-8 col-md-6 col-12 align-self-center">
										<div class="tabs__content_product">
											{{ product.package_description|safe }}
										</div>
									</div>
								</div>
							</div>
                            <div class="tabs__content">
								<div class="row">
									<div class="col-lg-4 col-md-6 col-12">
										<img src="{{ product.payment_photo.url }}" class="tabs__content_img" alt="alt">
									</div>
									<div class="col-lg-8 col-md-6 col-12 align-self-center">
										<div class="tabs__content_product">
											{{ product.payment|safe }}
										</div>
									</div>
								</div>
							</div>
                            <div class="tabs__content">
								<div class="row">
									<div class="col-lg-4 col-md-6 col-12">
										<img src="{{ product.delivery_photo.url }}" class="tabs__content_img" alt="alt">
									</div>
									<div class="col-lg-8 col-md-6 col-12 align-self-center">
										<div class="tabs__content_product">
											{{ product.delivery|safe }}
										</div>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                </div>
                </div>
        </section>
{% endblock content %}
