{% extends "base_template.html" %}
{% block content %}
<section class="first-section no-bg">
		<div class="container">
			<div class="breadcrumbs">
				<ul>
					<li>
						<a href="/">Главная</a>
					</li>
					<li>
						Адрес
					</li>
				</ul>
			</div>
		</div>
	</section>

	<section class="accaunt">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<h1>Учетная запись</h1>
				</div>
				<div class="col-lg-9 col-md-6">
					<div class="accaunt__manager">
						<ul>
							<li><p>Ваш личный менеджер Олег</p></li>
							<li><i class="nut-icon icons-phone"></i> <a href="tel:+380677771412">+38 067 777 14 12</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3">
					<nav class="navigation">
						<p>Мои заказы</p>
						<ul>
							<li><a href="#">История заказов</a></li>
							<li><a href="#">История транзакций</a></li>
						</ul>
						<p>Моя учетная запись</p>
						<ul>
							<li><a href="{% url 'user:account_info' %}" class="{% if 'info' in request.path %}active{% endif %}" >Контrecovery_passwordактная информация</a></li>
							<li><a href="{% url 'user:account_recovery_password' %}" class="{% if 'recovery_password' in request.path %}active{% endif %}">Пароль</a></li>
							<li><a href="{% url 'user:account_address' %}" class="{% if 'address' in request.path %}active{% endif %}" >Адрес и реквизиты</a></li>
						</ul>
					</nav>
				</div>
				{% block account_content %}
                {% endblock account_content %}
			</div>
		</div>
	</section>
{% endblock content %}
