{% extends "account/base_account.html" %}
{% load i18n %}
{% block title %} {% translate "История заказов" %} {% endblock title %}
{% block account_content %}
<div class="col-lg-9">
    <div class="row">
        <div class="col-12">
            <table id="table">
                <thead>
                <tr>
                    <th><span>{% translate "№ Заказа" %}</span></th>
                    <th><span>{% translate "Дата" %}</span></th>
                    <th><span>{% translate "Кол - во товаров" %}</span></th>
                    <th><span>{% translate "Статус" %}</span></th>
                    <th><span>{% translate "Стоимость" %}</span></th>
                    <th><span>{% translate "Функции" %}</span></th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>{{ order.created_at }}</td>
                        <td>{{ order.product_count }}</td>
                        <td>{{ order.get_order_status_display }}</td>
                        <td>{{ order.cost }} грн.</td>
                        <td>
                            <div class="icons_wrap">
                                <a href="#" class="tooltip" title="Просмотреть заказ"><i class="nut-icon icons-view"></i></a>
                                <a href="#" class="tooltip" title="Копировать"><i class="nut-icon icons-copy"></i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock account_content %}
