{% extends "account/base_account.html" %}
{% block account_content %}
	<div class="col-md-9">
        <div class="row">
            <div class="col-lg-4">
                <h1 class="text-center py-4">Пароль</h1>
                <form action="{% url 'user:account_recovery_password' %}">
                    {% csrf_token %}
                    {{ form.old_password }}
                    {{ form.new_password1 }}
                    {{ form.new_password2 }}
                    <button class="button" type="submit">Продолжить</button>
                </form>
            </div>
        </div>
    </div>
{% endblock account_content %}
