{% extends "base_template.html" %}
{% block content %}
<section class="first-section no-bg">
		<div class="container">
			<div class="breadcrumbs">
				<ul>
					<li>
						<a href="/">Главная</a>
					</li>
					<li>
							Вход
					</li>
				</ul>
			</div>
		</div>
	</section>

	<section class="registration">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-4 col-md-6">
					<h1 class="text-center py-4">Войти в личный кабинет</h1>
					<form action={% url "user:login" %} method="post">
                        {% csrf_token %}
							{{ form.username }}
							{{ form.password }}
							<div class="mini_link">
								<a href="#">Забыли пароль?</a>
							</div>
							<button class="button" type="submit">Войти</button>
							<div class="mini_link">
								<a href="{% url "user:registration" %}">Регистрация</a>
							</div>
					</form>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}
