{% extends "base_template.html" %}
{% load i18n %}
{% block title %} {% translate "Регистрация" %} {% endblock title %}
{% block content %}
<section class="first-section no-bg">
       <div class="container">
          <div class="breadcrumbs">
             <section class="first-section no-bg">
		<div class="container">
			<div class="breadcrumbs">
				<ul>
    <li>
        <a href="/">{{ page.get_site.root_page.title }}</a>
    </li>
    <li>
        <span>{% translate "Вход" %}</span>
    </li>
</ul>
			</div>
		</div>
	</section>
          </div>
       </div>
    </section>

    <section class="registration">
       <div class="container">
          <div class="row justify-content-center">
             <div class="col-lg-4 col-md-6">
                <h1 class="text-center py-4">{% translate "Войти в личный кабинет" %}</h1>
                <form action="{% url 'user:login' %}" method="post">
                        {% csrf_token %}
                      {{ form.username }}
                      {{ form.password }}
                      <div class="mini_link">
                         <a href="#">{% translate "Забыли пароль?" %}</a>
                      </div>
                      <button class="button" type="submit">{% translate "Войти" %}</button>
                      <div class="mini_link">
                         <a href="{% url 'user:registration' %}">{% translate "Регистрация" %}</a>
                      </div>
                </form>
             </div>
          </div>
       </div>
    </section>
{% endblock content %}
