{% extends "base_template.html" %}
{% load i18n %}
{% block title %} {% translate "Восстановление пароля" %} {% endblock title %}
{% block content %}
<section class="password">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-4 col-md-6">
					<h1 class="text-center">Восстановление пароля</h1>
					<div class="password__link">
						<p>Инструкция для восстановления пароля была отправленная на почту</p>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}
