{% extends "base_template.html" %}
{% load wagtailcore_tags wagtailimages_tags i18n %}
{% block title %} {% translate "Пароль изменен" %} {% endblock title %}

{% block content %}{% image settings.core.Page404Settings.image original as img %}
	<section class="first-section no-bg">
		<div class="container">
			<div class="row justify-content-center align-content-center">
				<div class="col-lg-8">
					<div class="wrap">
							<h1>Пароль был успешно изменен</h1>
							<a href="{% pageurl main_page %}" class="button_transparent with_arrow"><i class="nut-icon icons-left-arrow"></i> <b>Вернуться на Главную страницу</b></a>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}
