{% extends "base_template.html" %}
{% load i18n %}
{% block title %} {% translate "Восстановление пароля" %} {% endblock title %}
{% block content %}
<section class="password">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-4 col-md-6">
					<h1 class="text-center">{% translate "Восстановление пароля" %}</h1>
					<div class="password__link">
						<p>{% translate "Введите Email Вашего аккаунта, Вам будет выслана ссылка для восстановления пароля." %}</p>
					</div>
					<form action="#">
							<input type="email" required="required"  placeholder="Email*">
							<button class="button" type="submit">{% translate "Отправить ссылку" %}</button>
					</form>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}
