{% load gallery_tags wagtailimages_tags %}

<div class="row justify-content-center align-items-start" id="gallery-grid">
    {% for block in gallery_blocks %}
        {% include "partials/gallery_block.html" with block=block counter=3 %}
    {% endfor %}
</div>

{% if has_more %}
<div class="row justify-content-center" id="gallery-more">
  <div class="wrapper">
    <a class="button button_transparent"
       hx-get="{% url 'gallery:gallery-more' %}?offset=1"
       hx-target="#gallery-grid"
       hx-swap="beforeend">
      Показать ещё
    </a>
  </div>
</div>
{% endif %}
